*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  /* background-image: 
  repeating-linear-gradient(
    -90deg,
    #ffffff 10px,
    #ffffff 20px,
    #ffc14e 20px,
    #ffc14e 40px
); */
}

.form-styled, .book-list-container{
  animation: aparecer 0.2s ease-in;
}

.book-detail{
  animation: aparecer 0.2s ease-in;
}
.book-detail img{
  width: 300px;
}
.nav-bar{
  width: 100vw;
  height: 10vh;
  background-color: #164aa7;
}

.div-experimental{
  position: relative;
}
.modal-edicion{
  
  width: 100vw;
  height: 90vh;
  
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
  animation: aparecer 0.2s ease-in;
  
  
}

/* ESTILOS BOOK LIST */
.book-list-container a{
  text-decoration: none;
}
.btn-add-book{
  width: 80px;
  height: 80px;
  background-color: #164aa7;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  position: relative;

  margin: 10px 0 0 10px;
}

.add-book-text{
  background-color:#164aa7;
  position: absolute;
  left: 90%;
  width: 85px;
  height: 40px;
  border-radius: 0px 50px 50px 0px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 10px;
  padding-bottom: 2px;
}
.add-book-plus{
  font-size: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

  
}
/* ---------------------- */
/* ESTILOS BOOK */
.book{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.img-container{
  position: relative;
}
.book img{
  width: 180px;
}
.delete-logo{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  
  border: 2px solid red;
  color: red;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 3px;
  padding-left: 3px;
  
  
  position: relative;
  
}
.delete-text{
  
  position: absolute;
  font-size: 15px;
  left: 120%;
  bottom: 0;
}

.x-text{
  transform: rotate(45deg);
}

.btn-detail{
  background-color: #164aa7;
  color: white;
  border: none;
  width: 70px;
  height: 25px;
  border-radius: 50px;
  font-size: 15px;
  
}
.buttons{
  /* background-color: aqua; */
  width: 180px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
/* ---------------------- */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes aparecer {
 0%{
  opacity: 0;
 }
  100% {
    opacity: 1;
  }
}
