*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  text-align: center;
  /* background-image: 
  repeating-linear-gradient(
    -90deg,
    #ffffff 10px,
    #ffffff 20px,
    #ffc14e 20px,
    #ffc14e 40px
); */
  background-color: #f8f8f8;
  min-height: 100vh;
}

/* ESTILOS HEADER */
.nav-bar{
  width: 100vw;
  height: 10vh;
  background: rgb(22,74,167);
  background: linear-gradient(0deg, rgba(22,74,167,1) 0%, rgba(3,14,89,1) 100%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 120;
  box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.349);
}
.menu{
  background-color: #021d4b;
  width: 10vh;
  height: 8vh;

  margin-right: 7px;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 45px;
}


.menucito{
 background-color: #164aa7;
  width: 200px;
  
  border-radius: 0 0 0 10px;
  position: absolute;
  top: 10vh;
  right: 0;

  animation: aparecer 0.1s ease-in;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.349);
  
}
.hider-menucito{
  height: 10vh;
  width: 200px;
  background: rgb(22,74,167);
background: linear-gradient(0deg, rgba(22,74,167,1) 0%, rgba(3,14,89,1) 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  z-index: 15555;
}
.btns-menucito,.btn-add-book{
  
  background-color: #021d4b;
  color: white;
  border: none;
  height: 40px;
  width: 95%;
  border-bottom: 5px solid #164aa7;
  border-radius: 10px;
}
.logo{
 

  
  height: 8vh;

  margin-left: 7px;

  border-radius: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  color: white;
  user-select: none;
  cursor: pointer;
}
.logo img{
  width: 8vh;
  margin-left: 3px;
  
}
.logo p{
  width: 65px;
  line-height:90%;
  font-size: 20px;
}
.tec{
  font-weight: bold;
  color: #67c7f7;
}
.btn-add-book{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  
}
/* ---------------------- */

/* ESTILOS FORM Y MODAL */
.div-experimental{
  position: relative;
}
.modal-edicion{
  
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.671);
  
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
  animation: aparecer 0.2s ease-in;
  position: fixed;
  z-index: 100;
  top: 10%;
  
}
/* ---------------------- */
.form-styled, .book-list-container{
  animation: aparecer 0.2s ease-in;
}

.book-detail{
  animation: aparecer 0.2s ease-in;
}





/* ESTILOS BOOK LIST */
.view-account{
  width: 100vw;
  height: 50px;
  margin-bottom: 10px;
  color: green;
  background-color: rgba(0, 128, 0, 0.253);
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-list-container{
  padding-top:13vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.book-list-container a{
  text-decoration: none;
  
}

/* ---------------------- */

/* ESTILOS BOOK */
.book{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
}
.img-container{
  position: relative;
}
.book img{
  width: 180px;
  height: 274px;
  
}


.btn-detail,.btn-delete{
  background-color: #164aa7;
  color: white;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 50px;
  font-size: 15px;
  
}
.btn-delete{
  background-color: red;
  width: 60px;
  
}
.buttons{
  
  width: 180px;
  display: flex;
  justify-content: space-between;
  
  margin: 5px 0;
}
/* ---------------------- */

/* ESTILOS BOOK-DETAILS */
.book-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.book-detail img{
  width: 300px;
  height: 420px;
  margin-top: 13vh;
}
.book-detail p{
  font-weight:bold;
  font-size: 15px;
}
.detail-key{
  color: #164aa7;
}
.info-detail-container{
  text-align: left;
  width: 300px;
  word-wrap: break-word;
  margin: 8px 0;
}
.description-box{
  background-color: #0177b21f;
  max-height: 80px;
  overflow-y: scroll;
  
}

.buttons-detail{
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.back-btn, .edit-info-btn{
  width: 70px;
  height: 30px;
  background-color: #164aa7;
  border-radius: 50px;
  border: none;
  color: white; 
}
.edit-info-btn{
  width: 120px;
}
/* ---------------------- */
/* ESTILOS DE SCROLL */
.description-box::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

.description-box::-webkit-scrollbar-track {
  background: rgb(205, 198, 248);        /* color of the tracking area */
}

.description-box::-webkit-scrollbar-thumb {
  background-color: #164aa7;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}
/* ---------------------- */

/* ANIMACIONES */
@keyframes aparecer {
 0%{
  opacity: 0;
 }
  100% {
    opacity: 1;
  }
}
/* ---------------------- */

/* FORMATO RESPONSIVE */
@media (min-width: 700px) {
  .books-list{
    width: 95vw;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }

  .book{
    margin-right: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    height: 274px;
    position: relative;
    
  }
  .bk-title{
    width: 180px;
  }
  .title-author-cont{
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    text-align: left;
    padding-left: 5px;
  }

  .buttons{
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
    padding-left: 5px;
  }
  .btn-delete{
    margin-left: 5px;
  }

  .logo p{
    
    font-size: 3vh;
  }
  
  
  html{
    overflow-x: hidden;
  }

  .book-detail{
    flex-direction: row;
    
    height: 100vh;
  }

  .container-detail{
    display: flex;
    flex-direction: column;
  }
}

/* ---------------------- */



/* ESTILOS FORM */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #f1f3f3;
}

.formbold-h2 {
  margin-bottom: 40px;
  color: #004466;
  font-size: 30px;
}

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: #f1f3f3;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #0177b2;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #0177b2;
  color: white;
  cursor: pointer;
}

.formbold-btn-cancel {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: solid #0177b2 1px;
  font-weight: 600;
  background-color: white;
  color: #0177b2;
  cursor: pointer;
  margin-bottom: 20px;
}

.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}