*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  text-align: center;
  /* background-image: 
  repeating-linear-gradient(
    -90deg,
    #ffffff 10px,
    #ffffff 20px,
    #ffc14e 20px,
    #ffc14e 40px
); */
  
}

/* ESTILOS HEADER */
.nav-bar{
  width: 100vw;
  height: 10vh;
  background-color: #164aa7;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 120;
}
.menu{
  background-color: #021d4b;
  width: 10vh;
  height: 8vh;

  margin-right: 7px;

  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-size: 45px;
}

.logo{
  background-color: blueviolet;

  width: 15vh;
  height: 8vh;

  margin-left: 7px;

  border-radius: 10px;
}
.menucito{
  background-color: violet;
  width: 200px;
  height: 250px;

  position: absolute;
  top: 10vh;
  right: 0;

  animation: aparecer 0.1s ease-in;
}
/* ---------------------- */

/* ESTILOS FORM Y MODAL */
.div-experimental{
  position: relative;
}
.modal-edicion{
  
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.671);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
  animation: aparecer 0.2s ease-in;
  position: fixed;
  z-index: 100;
  top: 10%;
  
}
/* ---------------------- */
.form-styled, .book-list-container{
  animation: aparecer 0.2s ease-in;
}

.book-detail{
  animation: aparecer 0.2s ease-in;
}





/* ESTILOS BOOK LIST */
.view-account{
  color: green;
}
.book-list-container{
  padding-top:20px ;
  
}
.book-list-container a{
  text-decoration: none;
  
}
.btn-add-book{
  width: 80px;
  height: 80px;
  background-color: #164aa7;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  position: relative;

  
}

.add-book-text{
  background-color:#164aa7;
  position: absolute;
  left: 90%;
  width: 85px;
  height: 40px;
  border-radius: 0px 50px 50px 0px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-right: 10px;
  padding-bottom: 2px;
}
.add-book-plus{
  font-size: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;

  
}
/* ---------------------- */

/* ESTILOS BOOK */
.book{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.img-container{
  position: relative;
}
.book img{
  width: 180px;
  height: 274px;
  
}
.delete-logo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid red;
  color: red;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 5px;
  padding-left: 5px;
  
  
  position: absolute;
  bottom: 89%;
  left: 83%;
  
}
.delete-text{
  
  position: absolute;
  font-size: 15px;
  left: 120%;
  bottom: 3px;
}

.x-text{
  transform: rotate(45deg);
}

.btn-detail{
  background-color: #164aa7;
  color: white;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 50px;
  font-size: 15px;
  
}
.buttons{
  
  width: 180px;
  display: flex;
  justify-content: flex-start;
  margin: 5px 0;
}
/* ---------------------- */

/* ESTILOS BOOK-DETAILS */
.book-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.book-detail img{
  width: 300px;
  margin-top: 13vh;
}
.book-detail p{
  font-weight:bold;
  font-size: 15px;
}
.detail-key{
  color: #164aa7;
}
.info-detail-container{
  text-align: left;
  width: 300px;
  word-wrap: break-word;
}

.buttons-detail{
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.back-btn, .edit-info-btn{
  width: 70px;
  height: 30px;
  background-color: #164aa7;
  border-radius: 50px;
  border: none;
  color: white; 
}
.edit-info-btn{
  width: 120px;
}
/* ---------------------- */


@keyframes aparecer {
 0%{
  opacity: 0;
 }
  100% {
    opacity: 1;
  }
}
